<div class="NS_projects__rewards_list js-project-rewards">
    <h3 class="normal mb4 mobile-hide">{{ camp.rewards ?  "Rewards" : "No rewards." }}</h3>
    <ul class="list mt2 pledgeable" data-reward-count="13">
        {% for reward in camp.rewards %}
            <li class="NS-projects-reward bg-grey-light rounded clip mb2 relative">

                <div class="mobile-hide">
                    <a class="pledge block remote_modal_dialog green-dark hover-group" data-modal-class="checkout_modal">
                        <div class="hover-zoomout bg-green-90 z1 hide">
                            <div class="mobile-table full-width full-height">
                                <div class="mobile-table-cell align-middle center">
                                    <div class="h3 white">Select this reward</div>
                                </div>
                            </div>
                        </div>
                        <div class="NS_backer_rewards__reward p2">
                            <span class="indicator you-selected h6 bold bg-green white pl1 pr1 relative t0 hide">You selected</span>
                            <h5 class="mb1">Pledge {{ reward.price }} or more</h5>
                            <h5 class="regular grey-dark hide js-fx-container">About <span>{{ reward.price }} USD</span></h5>

                            <p class="backers-limits">
                                <span class="ss-icon ss-backer green h4 icon-nudge-down"></span>
                            <span class="backers-wrap h6 bold">
                                <span class="num-backers mr1">{{ reward.backer_count|number_format }} backers</span>
                            </span>
                            </p>

                            <div class="desc h5 mb2 break-word">
                                <p>{{ reward.name }}</p>

                                <p>Nobilis detrius inciviliter desideriums extum est. Mirabilis danista grauiter captiss vox est.</p>
                            </div>
                            <div class="shipping-wrap">
                                <div class="delivery-date h6">
                                    <b>Estimated delivery:</b>
                                    <time class="js-adjust-time" data-format="MMM YYYY" datetime="2015-08-01">Aug 2015</time>
                                </div>
                            </div>
                        </div>

                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>c